[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
isort = "*"
autoflake = "*"
black = "*"
flake8 = "*"
pylint = "*"
vulture = "*"

[dev-packages]
pytest = "*"


[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
